.mt-10 {
    margin-top: 10% !important;
}

.mr-10 {
    margin-right: 20% !important;
}

.ml-10{
    margin-left:20% !important;
}


.custom-body{
    background-image:url('img/architect.jpg') !important;
    background-size:cover;
}

textarea {
	resize: none !important;
}

textarea {
   resize: none;
}
